go 1.20

use (
	./basicfeatures
	./collections
	./composition
	./concurrency
	./errorHandling
	./flowcontrol
	./functionTypes
	./functions
	./methodsAndInterfaces
	./operations
	./packages
	./partyinvites
	./stringsAndRegexp
	./structs
	./tools
)
