go 1.20

use (
	./basicfeatures
	./collections
	./composition
	./concurrency
	./data
	./datesAndTimes
	./errorHandling
	./files
	./flowcontrol
	./functionTypes
	./functions
	./html
	./httpClient
	./httpServer
	./mathAndSorting
	./methodsAndInterfaces
	./operations
	./packages
	./partyinvites
	./readersAndWriters
	./reflection
	./stringsAndRegexp
	./structs
	./tools
	./usingStrings
)
